name = "goose-joke-generator"
compatibility_date = "2024-11-04"
compatibility_flags = [ "nodejs_compat" ]

[dev]
port = 7153

# [vars]
# MY_VAR = "my-variable"

# Workers Logs
# Docs: https://developers.cloudflare.com/workers/observability/logs/workers-logs/
# Configuration: https://developers.cloudflare.com/workers/observability/logs/workers-logs/#enable-workers-logs
[observability]
enabled = true

[[kv_namespaces]]
binding = "GOOSE_JOKES_CACHE"
id = "48bded0bf1b943c6bbb10f8ebd5fa554"

# [[r2_buckets]]
# binding = "MY_BUCKET"
# bucket_name = "my-bucket"

# [[d1_databases]]
# binding = "DB"
# database_name = "my-database"
# database_id = ""

[ai]
binding = "AI"
