node_modules

# Ignore package-lock.json files in cli
cli/**/package-lock.json

# Ignore package-lock.json files in ascui
ascui/**/package-lock.json

# Ignore package-lock.json files in templates
templates/**/package-lock.json

# Ignore types generated in teplates (during local dev)
templates/**/worker-configuration.d.ts

# Ignore migrations files generated in templates (during local dev or testing)
templates/**/drizzle

# Ignore package-lock.json files in examples
examples/**/package-lock.json

# Ignore .wrangler folder in examples
examples/**/.wrangler

# Ignore .dev.vars files in examples
examples/**/.dev.vars

# Ignore .prod.vars files in examples
examples/**/.prod.vars

# Ignore test apps
cli/test-apps/**
!cli/test-apps/.gitkeep

# Ignore macOS DS_Store files
.DS_Store

# Ignore VSCode settings
.vscode/

# script for removing nodemodules
remove_node_modules.sh
