---

---

<p class="footnote">
  Copyright &copy; 2025 Fiberplane
</p>

<style>
  .footnote {
    margin-top: 4em;
    font-size: 0.875rem;
    color: var(--fg-muted);
    text-align: center;
  }
</style>
